<div class="pb-10 pb-lg-15">
  <h2 class="fw-bolder text-dark">Account Info</h2>

</div>
<div [formGroup]="form">

  <div class="row">
    <div class="col-md-6">
      <div class="fv-row mb-5">
        <label class="form-label mb-3 required">Team Account Name</label
        ><input
          formControlName="accountName"
          type="text"
          class="form-control form-control-lg form-control-solid"
          placeholder="Team Account name"
        />
        <div
          *ngIf="
            form.get('accountName')?.hasError('required') &&
            form.get('accountName')?.touched
          "
          class="fv-plugins-message-container invalid-feedback"
        >
          Team Account name is required
        </div>
      </div>

    </div>

    <div class="col-md-6">
      <div class="fv-row mb-5">
        <div class="fv-row mb-5">
          <label class="required fw-semibold fs-6 mb-2">Genero</label>
          <input type="text" class="form-control form-control-solid"
              name="Especialidad" autocomplete="off"/>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="fv-row mb-5">
        <div class="fv-row mb-5">
          <label class="required fw-semibold fs-6 mb-2">Genero</label>
          <input type="text" class="form-control form-control-solid"
              name="Especialidad" autocomplete="off"/>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="fv-row mb-5">
        <div class="fv-row mb-5">
          <label class="required fw-semibold fs-6 mb-2">Genero</label>
          <input type="text" class="form-control form-control-solid"
              name="Especialidad" autocomplete="off"/>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="fv-row mb-5">
        <div class="fv-row mb-5">
          <label class="required fw-semibold fs-6 mb-2">Genero</label>
          <input type="text" class="form-control form-control-solid"
              name="Especialidad" autocomplete="off"/>
        </div>
      </div>
    </div>

  </div>

</div>
