body{
  border-radius: 30px;
}

#ViewLogin{
  background-color: #023052;
  border-radius: 30px;
}

#capa{
background-color: red;
}
#texto{
  size: 52px;
}

:host {
  width: 100%;
  @media (min-width: 992px) {
    .login-form {
      width: 100%;
      max-width: 450px;

      .mat-form-field {
        width: 100%;
      }
    }
  }
}

